<nav class="navbar shadow mb-3" style="height: 10vh; background-image: url('https://img.freepik.com/free-photo/smooth-black-concrete-wall-background_53876-129745.jpg?size=626&ext=jpg&ga=GA1.1.1819120589.1727136000&semt=ais_hybrid'); background-repeat: no-repeat; background-size: cover; background-color: rgb(255, 255, 255);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="fa-solid fa-user-tie text-light me-2"></i>
       <span class="text-light">Employee Portal</span>
      </a>
    </div>
  </nav>
