<div class="container-fluid  d-flex justify-content-center align-items-center m-4 shadow mb-3" style="height: 80vh; border-radius: 10px; background-color: rgb(255, 255, 255);">
    <div class="d-flex flex-column justify-content-evenly h-25">
        <a routerLink="/home" class="text-dark" style="text-decoration: none;">Home</a>
        <a routerLink="/employee" class="text-dark" style="text-decoration: none;">employee List</a>
        <button class="btn btn-danger" (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket pe-2"></i>Logout</button>
    </div>
</div>
